body {
  background-color: #4A0E50;
  height: 98vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 98vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.visualizer {
  height: 80vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.song-title {
  position: relative;
  top: 50%
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  vertical-align:midle;
  text-align:center;
  color: white;
}
