{% extends "base" %}

{% block content %}
    <h1>Hi {{name}}</h1>
    <h3>Here are your items:{{url}}</h3>
    <h1>{{__tera_context}}</h1>
    <p>Try going to <a href="/hello/YourName">/hello/YourName</a></p>
{% endblock content %}
